.ativar {
  background: rgba(47, 159, 248, 0.1);
  border-radius: 0px 37px 37px 0px;
  transition: background-color 0.5s ease;
  width: 180px;
  -height: 30px;
}

li {
  padding: 5px 20px; 
  list-style: none;
}

li a {
  color: #072D4B;
  text-decoration: none;
}

li a:active{
 color:#2F9FF8
}

.iconsMenu {
  color:#072D4B;
  height: 30px;
  width: 30px;
  background-color: red;
}